﻿				<div class="article">
				<h3 class="lol">Что нужно для беляша</h3>
				<em>22.08.1337</em>
				<p>Вода	(теплая, Для теста) — 1/2 стак.
				Дрожжи	(Для теста) — 7 г
				Сахар	(Для теста) — 1 ч. л.
				Молоко	(Для теста (3,5%)) — 1 стак.
				Масло сливочное	(Для теста) — 100 г
				Соль	(Для теста) — 2 ч. л.
				Мука	(Для теста (сколько возьмёт))
				Фарш мясной	(Для начинки (у меня смешанный)) — 500 г
				Лук репчатый	(Для начинки (крупная)) — 1 шт
				Чеснок	(Для начинки) — 2 зуб.
				Сливки	(Для начинки (33%)) — 150-200 мл
				Специи	(Для начинки (соль, перец, перец кайен, специи для фарша))
				Масло растительное</p>
				</div>
				
				<div class="article">
				<h3 class="lol">Что нужно для булочки</h3>
				<em>22.08.1337</em>
				<p>
				молоко 	500 мл
				сахар 	160 г
				кардамон зерна 	2 ч. л.
				соль 	1 ч. л.
				мука 	900 г
				миндальная масса 	200 г
				сливки 33-35%  	800 мл
				сахарная пудра 	3 ст. л.
				дрожжи свежие 	50 г
				сливочное масло 	175 г
				</p>
				</div>
				<div class="article">
				Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла Бла мм
				</div>