﻿    <form action="proverca.php" method="post">
 <p>
	<h2>Вход</h2>
    <input name="login" type="text" size="15" maxlength="15" placeholder="Логин">
    </p>
 
    <p>

    <input name="password" type="password" size="15" maxlength="15" placeholder="Пароль">
    </p>
    <p>
    <input type="submit" name="submit" value="Войти">
	<a href="register.php">Зарегистрироваться</a> 
