    <h2>Регистрация</h2>
    <form action="save_user.php" method="post">
<p>
    <label>Имя:<br></label>
    <br><input name="name" type="text" size="15" maxlength="15">
</p>
<p>
    <label>Фамилия:<br></label>
    <br><input name="middlename" type="text" size="15" maxlength="15">
</p>
<p>
    <label>Отчество:<br></label>
    <br><input name="lastname" type="text" size="15" maxlength="15">
</p>
<p>
    <label>Логин:<br></label>
    <br><input name="login" type="text" size="15" maxlength="15">
</p>
<p>
    <label>Пароль:<br></label>
    <br><input name="password" type="password" size="15" maxlength="15">
</p>
<p>
    <input type="submit" name="submit" value="Зарегистрироваться">
</p></form>