body
{
}
footer
{
text-align: center;
margin-bottom: 30px;
}

.article
{
margin-top: 30px;
}

.container
{
width: 800px;
background: #c9c9c9;
}

header
{
font-family:Times, serif; 
font-size:300%; 
font-weight:bold; 
background: #c0dfd9;
text-align:center;
}


.menu
{
width: 800px;
height: 40px;
background: #b3c2bf;
text-align:center;
background-position: center;
padding-right:15px;
padding-left:15px;
margin-right:auto;
margin-left:auto;
}
.menu table {
	background: #3b3a36;
	color: white;
	font-weight: bold;
	text-align: center;
}

.menu table tr td {
	padding: 10px 5px;
}

.menu table tr td:hover {
	background-color: red;
}
.bd{
    border-collapse: collapse; 
    width: 100%; 
    border-spacing: 7px 2px; 
}
.container table
{
 border: 1px solid black;
 border-bottom: none;
 border-color: black;
}
.container tr td
{
 border-bottom: 1px solid black;
}
.bold th {
	font-weight: bold;
	text-align: left; 
    background: black;
    color: white;
    border: 1px solid black;
	padding: 3px;
}
a {
	text-decoration:none;
}
.lol
{
background: #a8b6bf; 
}
